.form {
	margin-top: -27px;
	display: flex;
	justify-content: center;
}

.form textarea {
	height: 3.375rem;
	width: 39.875rem;
	color: white;
	border: none;
	background-color: var(--gray-500);
	border-radius: 0.5rem;
	resize: none;
	margin-right: 0.5rem;
	padding: 1rem;
	font-size: 1rem;
}

.form button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 3.25rem;
	width: 5.625rem;
	font-size: 0.875rem;
	background-color: var(--blue-700);
	color: var(--white);
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
